<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <h1>ITTY BITTY URL</h1>
    <% if (username === undefined) { %>
      <h3>PLEASE LOGIN!</h3>
      <form action="/login" method="POST"">
      <label for="longURL">LOGIN:</label>
      <input id="longURL" type="text" name="username" placeholder="USERNAME" style="width: 250px">
      <input type="submit" value="LOGIN">

    <% } else { %>

    <h3>WELCOME, <%= username %>!</h3>
    <form method="POST" action="/logout"><button type="submit">LOGOUT</button></form><br>

    <% }; %>

  </header>
</body>
<br>
</html>