<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <h1>ITTY BITTY URL</h1>
    <% if (user_email === undefined) { %>
      <h3>PLEASE LOGIN...OR REGISTER IF YOU ARE NOT A REGISTERED USER!</h3>
      <p>CLICK <a href="http://localhost:8080/login">HERE</a> TO LOGIN</p>
      <p>CLICK <a href="http://localhost:8080/register">HERE</a> TO REGISTER</p>

    <% } else { %>

    <h3>WELCOME, <%= user_email %>!</h3>
    <form method="POST" action="/logout"><button type="submit">LOGOUT</button></form><br>

    <% }; %>

  </header>
</body>
<br>
</html>