<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <h1>ITTY BITTY URL</h1>
    <h3>LOGIN:</h3>

      <form action="/login" method="POST"">
      <label for="email">E-MAIL:</label>
      <input id="email" type="email" name="email" placeholder="E-MAIL" style="width: 250px">
          <br><br>
       <form action="/login" method="POST"">
      <label for="password">PASSWORD:</label>
      <input id="password" type="password" name="password" placeholder="PASSWORD " style="width: 220px">
      <input type="submit" value="LOGIN">


  </header>
</body>
<br>
</html>