<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

  </head>
  <body style="font-size:20px; padding:50px;">
    <% include ../partials/_header %>
    <form action="/urls" method="POST" style="margin:100px;">
      <label for="longURL">ENTER A NEW URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="SUBMIT" class="btn btn-secondary">
    </form>
  </body>
</html>